@import '../../scss/_util.scss';
@import '../../scss/_variables.scss';
@import '../../scss/_typography.scss';

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #282c34;
  min-height: 3rem;
  font-size: 1rem;
  color: white;

  h2 {

  }

  section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      ul {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          list-style: none;

          li {
              margin-right: 10px;
          }

          a {
              padding-right: 10px;
              width: 100%;
              color: white;
              border-right: 2px solid white;
          }
      }

  }
}

.App-link {
  color: #61dafb;
}

button {
    font-size: 16px;
    margin: 10px;
}

.user-inputs {
    @include flex-box(row);
    background-color: #88AADD;

    > div {
        @include flex-box(row);
        width: 100%;
    }

    h3 {
        font-size: 18px;
    }

    .search-section {
        width: 100%;

        form {
            div {
                width: 100%;
            }
        }
    }

    .active-urls {
        @include flex-box(column, center, center);
        padding: 0 20px 20px;;
        margin: 0 10px;

        h3 {
            margin-left: 0;
            padding-left: 0;
        }

        ul {
            @include flex-box(column, flex-start, flex-start);
        }

        li {
            text-align: left;
        }
    }

    h3 {
      font-weight: normal;
    }
}

.visualization {
    @include flex-box(row, flex-start, flex-start);
    width: 100%;
}

.response-browser {
    width: 50%;
}

.graphs {
    width: 50%;
}
